<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jogo do Dinossauro Personalizado</title>
    <style>
        body {
            margin: 0;
            overflow: hidden;
            background-image: url('background.png'); /* Substitua pelo caminho da sua imagem de fundo */
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        #score {
            position: absolute;
            top: 10px;
            left: 10px;
            font-size: 24px;
            color: #fff;
        }
        #pauseButton {
            position: absolute;
            top: 10px;
            right: 100px;
            font-size: 24px;
            padding: 10px;
            background-color: #ff0000;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div id="score">Score: 0</div>
    <button id="pauseButton">Pause</button>
    <canvas id="gameCanvas"></canvas>
    <audio id="backgroundMusic" src="sia.mp3" loop></audio>
    <script src="game.js">
        
    </script>
</body>
</html>
